{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock head %}
{% block content %}
	<table>
	  <thead>
	    <tr>
				{% for field in poll_state_fields %}
	      <th>{{ field }}</th>
				{% endfor %}
	      <th>cancel</th>
	    </tr>
	  </thead>
	  <tbody>
		  {% for poll in polls %}
	    <tr>
				{% for field in poll_state_fields %}
	      <td>{{ poll[field] }}</td>
				{% endfor %}
				<td>{{ self::delete(label="Cancel", id=poll.id) }}</td>
			</tr>
		  {% endfor %}
	  </tbody>
	</table>
{% endblock content %}

{% macro delete(label, id) %}
	<form action="/ui/polls/{{id}}" method="post"><button type="submit">{{label}}</button></form>
{% endmacro delete %}
