<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ title }}</title>
  <style type="text/css">
    .important { color: #336699; }
  </style>
</head>
<body>
    <h1>Polls</h1>
		<table>
		  <thead>
		    <tr>
		      <th>id</th>
		      <th>duration</th>
		      <th>topic</th>
		      <th>most_votes</th>
		      <th>cancel</th>
		    </tr>
		  </thead>
		  <tbody>
			  {% for poll in polls %}
		    <tr>
					<td>{{poll.id}}</td>
					<td>{{"{:?}"|format(poll.duration)}}</td>
					<td>{{poll.topic}}</td>
					<td>{{poll.most_votes}}</td>
					<td>{% call delete_poll(poll.id) %}</td>
				</tr>
			  {% endfor %}
		  </tbody>
		</table>
		<h1>Check In</h1>
		{% match check_in %}
			{% when Some with (ctx) %}
				<ul>
					<li><b>Poll Time</b>: {{"{:?}"|format(ctx.poll_time)}}</li>
					<li><b>Poll Duration</b>: {{"{:?}"|format(ctx.poll_dur)}}</li>
				</ul>
			{% when None %}
				No check-ins
		{% endmatch %}
		<form action="/ui/check-in/update" method="get">
			<input 
			<button type="submit">Update</button>
		</form>
	</body>
</html>

{% macro delete_poll(label, id) %}
	<form action="/ui/polls/{{id}}" method="post"><button type="submit">Cancel</button></form>
{% endmacro %}
