{% extends "base.html" %}
{% block head %}
  {% call super() %}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
	<table>
	  <thead>
	    <tr>
	      <th>id</th>
	      <th>duration</th>
	      <th>topic</th>
	      <th>most_votes</th>
	      <th>cancel</th>
	    </tr>
	  </thead>
	  <tbody>
		  {% for poll in polls %}
	    <tr>
				<td>{{poll.id}}</td>
				<td>{{"{:?}"|format(poll.duration)}}</td>
				<td>{{poll.topic}}</td>
				<td>{{poll.most_votes}}</td>
				<td>{% call delete("Cancel", poll.id) %}</td>
			</tr>
		  {% endfor %}
	  </tbody>
	</table>
{% endblock %}

{% macro delete(label, id) %}
	<form action="/ui/polls/{{id}}" method="post"><button type="submit">{{label}}</button></form>
{% endmacro %}
